version: 2
jobs:
  test_min:
    docker:
      - image: node:6.10.0
      - image: circleci/mongo:3.4
      - image: rabbitmq:3.4

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm i
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
            - /root/.npm
      - run:
          name: Mocha "only" detection
          command: $(npm bin)/mocha-only-detector-glob 'test/**/*.js'
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)

  test_v7:
    docker:
      - image: node:7
      - image: circleci/mongo:3.4
      - image: rabbitmq:3.4

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm i
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
            - /root/.npm
      - run:
          name: Mocha "only" detection
          command: $(npm bin)/mocha-only-detector-glob 'test/**/*.js'
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)

  test_v8:
    docker:
      - image: node:8
      - image: circleci/mongo:3.4
      - image: rabbitmq:3.4

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm i
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
            - /root/.npm
      - run:
          name: Mocha "only" detection
          command: $(npm bin)/mocha-only-detector-glob 'test/**/*.js'
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)

  test_v9:
    docker:
      - image: node:9
      - image: circleci/mongo:3.4
      - image: rabbitmq:3.4

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm i
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
            - /root/.npm
      - run:
          name: Mocha "only" detection
          command: $(npm bin)/mocha-only-detector-glob 'test/**/*.js'
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)

  test_v10:
    docker:
      - image: node:10
      - image: circleci/mongo:3.4
      - image: rabbitmq:3.4

    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: Install node modules
          command: npm i
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
            - /root/.npm
      - run:
          name: Mocha "only" detection
          command: $(npm bin)/mocha-only-detector-glob 'test/**/*.js'
      - run:
          name: Run tests
          command: npm test
      - run:
          name: Codecov
          command: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  tests:
    jobs:
      - test_min
      - test_v7
      - test_v8
      - test_v9
      - test_v10
